@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
   
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #0A192F;
}

#cards{
    margin: 20px;
   

}
.navbar-nav li{
    font-weight: 700;
    font-size: 22px;
    color: #ffffff !important;
}

.vote{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 40%;
   
  }
  .logo{
      display: flex;
      justify-content: center;
  }
  .logo img{
      height: 100px;
      width: 100px;
  }
  #loginp{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
     
  }
  #leg{
      text-align: center;
  }
  .image img{
      height: 80px;
      width: 77px;
      border-radius: 50%;
  }
  #acct{
      display: flex;
  }
  #home{
      margin-top: 5%;
      background-color: #142D3E !important;
  }
 
  #home .card{
      border-radius: 5%;
      

  }
  #home .flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

  }
  .header img{
      height: 75px;
      width: 77px;
  }
  .header{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .header li{
      list-style: none;
  }
  #regis{
      display: flex;
      justify-content: center;
      margin: 10%;
  }
  #inlineb a{
      display: inline-block;
  }
  .pagelogo{
      height: 77px;
      width: 80px;
  }
  .comment1 img{
      height: 150px;
      width: 300px;
     
  }
  .comment1{
    display: flex;
    justify-content: center;
  }
  


  