@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
   
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
}

#cards{
    margin: 20px;

}
.vote{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 40%;
   
  }
  .logo{
      display: flex;
      justify-content: center;
  }
  .logo img{
      height: 100px;
      width: 100px;
  }
  #loginp{
      display: flex;
      justify-content: center;
      align-content: center;
  }
  #leg{
      text-align: center;
  }
  .image img{
      height: 80px;
      width: 77px;
      border-radius: 50%;
  }
  #acct{
      display: flex;
  }
  