#cards{
    margin: 20px;

}
.vote{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.navbar-nav{
    gap: 90%;
}
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }