{%extends 'base.html' %}

{% block content %}
    {% for pitch in pitches %}
    <div class="card" style="width: 20rem;" id="cards">
        <div class="card text-center">
            <div class="card-header">
            <p>{{pitch.title}}</p>
            </div>
            <div class="card-body">
            <p class="card-text">{{pitch.pitch}}</p>
            </div>
            <div class="card-footer text-muted">
            <p>Posted by: {{pitch.author}}</p>
            </div>
            <div class="vote">
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-thumbs-down"></i>
            </div>
        </div>

    </div>
    {% endfor %}

{% endblock %}