{% extends 'base.html' %}
{% block content %}
    <div class="content-section">
        <form action="" method="post  ">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign up</legend>
                <div class="form-group">
                    {{form.username.label(class="form-control-label")}}
                    {{form.username(class="form-control form-control-label-lg")}}
                     
                </div>

            </fieldset>

        </form>
    </div>

{% endblock content %}